@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-1: "Poppins", sans-serif;
  --font-2: "Open Sans", sans-serif;
}

body {
  background-color: #674bb1;
}

.cont {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80.39px;
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: 1318px 100vh;
  background-position: top left;
  /* background-attachment: fixed; */
  font-family: var(--font-2);
}
@media (min-width: 1441px) and (min-height: 801px) {
  .cont {
    background-size: 1318px 800px;
  }
}
@media (max-width: 768px) {
  .cont {
    padding: 0 40px;
  }
}
@media (max-width: 548px) {
  .cont {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 373px;
    background-position: top left;
    padding: 0 20px;
  }
}

header {
  padding: 64.39px 0;
}
@media (max-width: 768px) {
  header img {
    width: 120.82px;
    height: auto;
  }
}
main {
  padding-top: 33.04px;
  padding-bottom: 21px;
  display: flex;
}
@media (max-width: 548px) {
  main {
    flex-direction: column;
  }
}

.left {
  width: min(100%, 709px);
}
.left img {
  max-width: 100%;
}

.right {
  padding: 30px 7px 0 41px;
}
@media (max-width: 548px) {
  .right {
    padding: 52px 0 0 0;
    text-align: center;
  }
}
h1 {
  font-family: var(--font-1);
  font-weight: bold;
  max-width: 463px;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 36px;
}
@media (max-width: 548px) {
  h1 {
    font-size: 24px;
    line-height: 150%;
    max-width: 270px;
    margin: 0 auto;
    padding-bottom: 23px;
  }
}
p {
  font-weight: normal;
  max-width: 518px;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 28px;
}
@media (max-width: 548px) {
  p {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 25px;
    max-width: 300px;
    margin: 0 auto;
  }
}
button {
  width: 200px;
  background: #ffffff;
  border-radius: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #7161a6;
  padding: 19px 0;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
button:hover,
button:focus {
  background-color: #e980e7;
  color: #ffe7ff;
}
div.one {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
}
@media (max-width: 548px) {
  div.one {
    justify-content: center;
    padding-bottom: 80px;
  }
}
.social {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social_link {
  border: 1px solid #fefefc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
.social_link:hover {
  border-color: #fe52c3;
}
svg {
  transition: all 0.3s ease-in-out;
}
.social_link:not(:nth-child(3)) svg {
  fill: #fefefc;
}
.social_link:nth-child(3) svg {
  stroke: #fefefc;
}
.social_link:not(:nth-child(3)):hover svg {
  fill: #fe52c3;
}
.social_link:nth-child(3):hover svg {
  stroke: #fe52c3;
}
